<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="borderlessgaming" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cryptomator" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="docker-desktop" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-7.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="DotNet4.5.2" />
  <package id="dotnetfx" />
  <package id="ds4windows" />
  <package id="Firefox" />
  <package id="geforce-experience" />
  <package id="git" />
  <package id="git.install" />
  <package id="goggalaxy" />
  <package id="GoogleChrome" />
  <package id="googledrive" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="KB3118401" />
  <package id="microsoft-windows-terminal" />
  <package id="playnite" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="razer-synapse-3" />
  <package id="retroarch" />
  <package id="ryujinx" />
  <package id="slack" />
  <package id="steam" />
  <package id="vcredist140" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="WhatsApp" />
  <package id="wireguard" />
</packages>
